.consultoria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8em auto 2em auto;
    min-height: 100vh;
}

.consult{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.consultoria .consult h2{
    display: flex;
    width: 100%;
}

.Consultoria-cards{
    display: flex;
    width: 100%;
    height: auto;
    margin: 100px 10px;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.Consultoria-cards .text-aulas{
    background-color: var(--cor7);
    width: 400px;
    height: 300px;
    border-radius: 0 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.489);
}

.Consultoria-cards .text-aulas p{
    margin: 1em auto;
    padding: 1em;
    color: var(--cor2);
    font-size: 1.5em;
    font-weight: 500;
    gap: 50px;
}

.consultoria .Consultoria-cards .text-aulas button{
    background-color: #019e06;
    display: block;
    color: var(--cor2);
    padding: 1em 3em;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.489);
    font-size: 1.3em;
    font-weight: 600;
    border: none;
    align-self: center;
    transition: .5s;
}

.consultoria .Consultoria-cards .text-aulas button:hover{
    transform: scale(1.1);
}

.consultoria .Consultoria-cards .text-aulas i{
    color: rgba(0, 0, 0, 0.796);
}

.consultoria button{
    background-color: #019e06;
    color: var(--cor2);
    padding: 1.5em 3em;
    border-radius: 60px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.489);
    font-size: 1.3em;
    font-weight: 600;
    border: none;
    transition: .5s;
    margin-top: 4em;
}

.consultoria button:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 810px) {

   .consultorias{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
   }
   
    .Consultoria-cards{
        display: flex;
        width: 100%;
        gap: 2em;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .Consultoria-cards .text-aulas{
        width: 230px;
        height: 280px;
    }

    .Consultoria-cards .text-aulas h3{
        font-size: 1em;
    }

    .Consultoria-cards .text-aulas p{
        font-size: 1em;
    }
}

@media screen and (max-width: 430px){
    .Consultoria-cards{
        display: inline-block;
        flex-direction: column;
        margin: auto;
    }

    .Consultoria-cards .text-aulas{
        display: block;
        align-self: center;
        margin: auto;
        margin-bottom: 2em;
        width: 90%;
        height: 230px;
    }

}

