.depoimetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.depoimetos-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;

}

.slide-box{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    align-items: center;
    justify-content: center;
    background-color: var(--cor7);
    margin: 1em 0;
    border-radius: 0.8em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.489);
    margin: 1em auto;
}

.slide-box i{
    font-size: 3em;
    color: #F28241;
    align-self: flex-start;
}

.slide-box .depoimento-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    font-weight: 300;
    padding: 1em;
    text-align: justify;
    font-weight: 400;
}

.slide-box .pessoa img{
    display: flex;
    justify-content: flex-start;
    align-items:  flex-start;
    width: 10%;
    height: auto;
    border-radius: 50%;
    margin-left: 1em;
    margin-bottom: 1em;
    
}

.slide-box .pessoa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.slide-box .pessoa i{
    font-size: 1em;
    color: yellow;
}

.slide-box .pessoa p.nome{
    font-size: 1em;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.slide-box .pessoa p.func-pessoa{
    font-size: 0.8em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
