.footer .top-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
}

.footer .text-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    color: var(--cor6);
    font-size: 1em;
}

.footer .top-header .footer-botton{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.footer .top-header .footer-botton .img-logo{
    display: block;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 810px){
   
}

@media screen and (max-width: 430px){
    .footer .top-header{
        height: auto;
        margin: auto;
    }
    
    .footer .text-footer{
        width: 90%;
        font-size: 1.3em;
    }

    .footer .top-header .footer-botton .img-logo{
        display: block;
        margin: -50px -50px;
    }

    .footer .top-header .footer-botton{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer .top-header .footer-botton .btn-contatos-footer .contatos-btn {
       display: flex;
       width: 100%;
       margin-right: 20px;
    }

    .contatos-btn .btn .icon{
        font-size: 1em;
    }

    .contatos-btn .btn .text{
        display: block;
    }

    .footer .text-footer{
        display: flex;
        font-size: 1em;
    }
}