

@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('header.css');
@import url('menu-toogle.css');
@import url('headline.css');
@import url('sobre.css');
@import url('aulas.css');
@import url('projetos.css');
@import url('depoimentos.css');
@import url('footer.css');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

:root{
    --cor1:#166273;
    --cor2:#102D40;
    --cor3:#f2e93d;
    --cor4:#F28241;
    --cor5:#C8D94A;
    --cor6:#0D0D0D;
    --cor7:#ffff;
    --sombra: 5px 10px 10px rgba(4, 4, 4, 0.619);
}

body{
    background: linear-gradient(210deg,#166273,#388ea1);
 }

 .section-container{
    max-width: 1450px;
    height: auto;
    display: flex;
    margin: 3% auto;
    padding: 1em;
 }

 h1{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    padding: 1em;
    color: var(--cor3);
    font-size: 2.5em;
    line-height: 60px;
    font-weight: 900;
    text-shadow: var(--sombra);
}

h2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    padding: 1em;
    color: var(--cor3);
    font-size: 2em;
    font-weight: 800;
    text-shadow: var(--sombra);
}

h3{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    padding: 1em;
    color: var(--cor4);
    font-size: 1.5em;
    font-weight: 600;
    max-width: 100%;
    text-shadow: var(--sombra);
}

h4{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 1em auto;
    padding: 0 1em;
    color: var(--cor4);
    font-size: 1.5em;
    font-weight: 600;
    max-width: 100%;
    text-shadow: var(--sombra);
}

p{
    font-size: 1em;
    color: var(--cor6);
    font-weight: 500;
}

strong{
    color: var(--cor2);
    font-weight: bold;
    margin: 1em auto;
}

@media screen and (max-width: 430px){
h2{
    font-size: 1.5em;
}
}