main .container{
    display: block;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.container .headline{
    width: auto;
    height: 70vh;
}

.container span{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f2e93d;
    margin: 2em auto;
    padding: 1em 1em;
    border-radius: 40px;
    font-weight: 800;
    font-size: 1em;
    color: #102D40;
}

.container .boneca-texto{
    display: flex;
    width: auto;
    margin: 0 auto;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.img-boneca img{
    width: 400px;
    height: 500px;
}

main .container .text p{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    height: auto;
    padding: 2em;
    background-color: var(--cor7);
    border-radius: 0 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.489);
    line-height: 40px;
}