main .container{
    display: block;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.container .headline{
    width: 100%;
    height: auto;
    margin: 150px auto;
    padding: 1em;
}

.container span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: auto;
    margin: 3em auto;
    padding: 1em 1em;
    border-radius: 80px;
    font-weight: 800;
    font-size: 2em;
    background-color: #f2e93d;
    color: #102D40;
}

.container .boneca-texto{
    display: flex;
    width: auto;
    margin: 0 auto;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.img-boneca img{
    width: 350px;
    height: 350px;
}

main .container .text p{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    height: 100%;
    padding: 2em;
    background-color: var(--cor7);
    border-radius: 0 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.489);
    line-height: 30px;
}

@media screen and (max-width: 810px){
    .container .headline h1{
        display: block;
        position: relative;
        width: 100%;
        font-size: 1.8em;
        text-align: center;
        font-weight: 600;
        margin: 0 auto;
    }

    .container span{
        width: 80%;
        font-size: 1.5em;
    }
        
    .img-boneca img{
        display: none;
    }

    main .container .text p{
        line-height: 20px;
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 430px) {
    .container .headline h1{
        width: 100%;
        height: auto;
        margin-top: 200px;
        font-size: 1em;
        line-height: 25px;
        text-align: center;
    }

    .container span{
        width: 100%;
        font-size: 0.8em;  
    }

    main .container .text p{
        line-height: 25px;
        display: block;
        margin: auto;
    }
}