

header {
    width: 100%; 
    position: fixed;
    z-index: 1;
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.top-header{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: var(--cor1);
}

.logo img.img-logo{
    display: block;
    width: 200px;
    background-color: var(--cor7);
    border-radius: 50%;
}

.botton-nav .botton-menu{
   display: flex;
   align-items: center;
   justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.botton-nav .botton-menu .menu-botton{
    display: inline-flex;
    color: var(--cor6);
    align-items: center;
    text-align: center;
    justify-content: space-around;
    box-shadow: none;
    padding: 10px 40px;
    margin: 0 auto;
    padding: 0 1em;
    width: auto;
    cursor: pointer;
    transition: .5s;
    text-shadow: 5px 5px 5px rgba(4, 4, 4, 0.5);
} 

.botton-nav .botton-menu .menu-botton:hover{
    color: var(--cor6);
    transform: scale(1.1);
 }

.botton-nav .botton-menu .menu-botton a{
    color: var(--cor3);
    width: auto;
    font-weight: 600;
    font-size: 1.2em;
    display: flex;
    text-decoration: none;
    transition: .5s;
    margin: 0 auto;
    padding: 0 2em;
}

.botton-nav .botton-menu .menu-botton a:hover{
    color: var(--cor3);
    transform: scale(1.2);
 }
.menu-mobile{
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--cor3);
}

.btn-mobile{    
        display: none;
        background-color: transparent;
        width: 60px;
        height: 60px;
        font-size: 3em;
        border: none;
        border-radius: 12px;
    }

.btn-contatos{
    display: flex;
    width: auto;
}

.contatos-btn{
     list-style-type: none;
     display: flex;
     width: auto;
     position: relative;
     gap: 40px;
}

.contatos-btn .btn{
    width: 50px;
    height: 50px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.526);
    border-radius: 60px;
    position: relative;
    transition: .4S;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatos-btn .btn:hover{
    width: 160px;
}

.contatos-btn .btn span{
    position: absolute;
}

.contatos-btn .btn .icon{
    color: #ccc;
    font-size: 1.5em;
    transition: .4s;
    transition-delay: .2s;
}

.contatos-btn .btn:hover .icon{
    transform: scale(0);
 }

 .contatos-btn .btn .text{
    color: var(--cor2);
    font-size: 20px;
    font-weight: 500;
    transform: scale(0);
    transition: .4s;
    transition-delay: .1s;
 }

 .contatos-btn .btn:hover .text{
    transform: scale(1);
}

.contatos-btn .btn::before{
    content: '';
     position: absolute;
     background-image: linear-gradient(45deg,var(--cor1), var(--cor2));
     inset: 0;
     opacity: 0;
     border-radius: 60px;
}

.contatos-btn .btn:hover::before{
    opacity: 1;
}

 /*Responsividade*/

 @media screen and (max-width: 810px) {

    .top-header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;      
    }

    .logo img.img-logo{
        display: flex;
        margin: 20px auto;
        width: 200px;
        height: auto;
    }

    .botton-nav{
        justify-content: space-evenly;
        width: auto;
        margin: 0 auto;
    }

    .botton-nav .botton-menu{
        display: none;
    }

    .btn-contatos{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3em auto;
        width: auto; 
    }

    .contatos-btn .btn{
        width: 50px;
        height: 50px;
    }

    .btn-mobile:hover{
        transform: scale(1.2);
    }

    .menu-mobile{
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        
    }

    .menu-mobile .mobile-menu{
        display: block;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        margin: 0 auto;
        height: auto;
        width: 100%;
    }

    .menu-mobile .mobile-menu a{
        display: block;
        text-decoration: none;
        color: var(--cor3);
        font-weight: 600;
        margin: 0 5em;
        padding: 1em;
        height: auto;
        width: 100%;
    }
 }

 @media screen and (max-width: 430px) {
    .top-header{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
    }

    .logo img.img-logo{
        display: block;
        margin: auto;
        width: 130px;
        margin-top: 1.5em;
    }

    .botton-nav{
        justify-content: space-evenly;
        width: auto;
        display: block;
    
    }

    .top-header .btn-contatos .contatos-btn{
        display: flex;
        width: 100%;
        margin: 0 auto;
        margin-right: 50px;
    }

    .contatos-btn .btn{
        display: flex;
        width: 100%;
        margin: 0 auto;
        width: 35px;
        height: 35px;
    }

    .contatos-btn .btn:hover{
        width: 35px;
    }

    .contatos-btn .btn .text{
        display: none;
    }

    .contatos-btn .btn:hover .icon{
        transform: scale(1);
     }

    .btn-mobile{
        display: none;
        background-color: transparent;
        width: 60px;
        height: 60px;
        font-size: 3em;
        border: none;
        border-radius: 12px;
    }

    .menu-mobile{
        display: inline-block;
        text-align: center;
        margin: ;
    }

 }
