

header {
    width: 100%; 
    position: fixed;
    z-index: 1;
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: var(--cor1);
}

.logo img.img-logo{
    display: block;
    width: 150px;
    margin-top: 2em;
    background-color: var(--cor7);
    border-radius: 50%;
}

.nav .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2em auto;
}

.nav .menu .menu-list1{
    display: flex;
    color: var(--cor6);
    align-items: center;
    text-align: center;
    justify-content: space-around;
    box-shadow: none;
    padding: 10px 40px;
    margin: 0 auto;
    padding: 0 1em;
    width: auto;
    cursor: pointer;
    transition: .5s;
    text-shadow: 5px 5px 5px rgba(4, 4, 4, 0.5);
} 

.nav .menu .menu-list1:hover{
    color: var(--cor6);
    transform: scale(1.1);
 }

.nav .menu .menu-list1 a{
    color: var(--cor3);
    width: auto;
    font-weight: 600;
    font-size: 1.2em;
    display: flex;
    text-decoration: none;
    transition: .5s;
    margin: 0 auto;
    padding: 0 2em;
}

.nav .menu .menu-list1 a:hover{
    color: var(--cor3);
    transform: scale(1.2);
 }

.btn-contatos{
    display: flex;
    width: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.contatos-btn{
     list-style-type: none;
     display: flex;
     width: auto;
     position: relative;
     gap: 40px;
}

.contatos-btn .btn{
    width: 50px;
    height: 50px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.526);
    border-radius: 60px;
    position: relative;
    transition: .4S;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatos-btn .btn:hover{
    width: 160px;
}

.contatos-btn .btn span{
    position: absolute;
}

.contatos-btn .btn .icon{
    color: #ccc;
    font-size: 1.5em;
    transition: .4s;
    transition-delay: .2s;
}

.contatos-btn .btn:hover .icon{
    transform: scale(0);
 }

 .contatos-btn .btn .text{
    color: var(--cor2);
    font-size: 20px;
    font-weight: 500;
    transform: scale(0);
    transition: .4s;
    transition-delay: .1s;
 }

 .contatos-btn .btn:hover .text{
    transform: scale(1);
}

.contatos-btn .btn::before{
    content: '';
     position: absolute;
     background-image: linear-gradient(45deg,var(--cor1), var(--cor2));
     inset: 0;
     opacity: 0;
     border-radius: 60px;
}

.contatos-btn .btn:hover::before{
    opacity: 1;
}

/* menu mobile*/

.top-header .menu-mobile{
    display: none;
    width: 0;
    height: 100vh;
    position: fixed;
    top: 280px;
    left: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    background-color: var(--cor1);
    overflow: hidden;
    transition: .8s;
}

.menu-mobile.abrir-menu{
    width: 100%;
    display: none;
}

.top-header .btn-abrir-menu i{
    display: none;
    color: var(--cor6);
    font-size: 3em;
    font-weight: 900;
}

.top-header .menu-mobile .menu-list{
    display: block;
    width: 100%;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

.top-header .menu-mobile .menu-list a{
    display: block;
    width: 100%;
    color: var(--cor3);
    font-size: 1.2em;
    font-weight: 600;
    padding: 1.5em 5%;
    text-decoration: none;
    margin: auto;
    transition: .5s;
}

.top-header .menu-mobile .menu-list a:hover{
    color: var(--cor4);
    width: 100%;
}

.top-header .menu-mobile .btn-fechar{
    padding: 1em 5%;
}
.top-header .menu-mobile .btn-fechar i{
    color: var(--cor6);
    font-size: 2em;
    font-weight: 900;
}

@media screen and (max-width: 1300px){

    .top-header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    .logo{
        width: auto;
    }

    .nav .menu{
        display: none;
        width: 100%;
        height: 45vh;
        background-color: rgba(0, 0, 0, 0.521);
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 150px;
        left: 0;
        z-index: 10;
    }

    .nav .menu .menu-list{
        display: none;
        width: 100%;
        margin: auto;
        padding: 3em auto;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    
    .nav .menu .menu-list a{
       display: none;
       width: 100%;
       height: auto;
       align-items: center;
       justify-content: center;
       margin: 1em auto;
       padding: 1em;
    }

    .top-header .btn-abrir-menu i{
        display: block;
        color: var(--cor6);
        font-size: 3em;
        font-weight: 900;
    }
    
    .top-header .menu-mobile .menu-list{
        display: block;
        width: 100%;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
    }

    .top-header .menu-mobile{
        display: block;
      }

}

 /*Responsividade*/

 @media screen and (max-width: 810px) {

    .top-header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;      
    }

    .logo img.img-logo{
        display: flex;
        margin: 20px 5%;
        width: 120px;
        height: auto;
    }

    .btn-contatos{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3em auto;
        width: auto; 
    }

    .contatos-btn .btn{
        width: 50px;
        height: 50px;
    }

    .btn-mobile:hover{
        transform: scale(1.2);
    }

    .menu-mobile.abrir-menu{
        width: 100%;
        display: block;
    }
    
    .top-header .btn-abrir-menu i{
        display: block;
        color: var(--cor6);
        font-size: 3em;
        font-weight: 900;
    }

    .top-header .menu-mobile{
      display: block;
    }

 }

 @media screen and (max-width: 430px) {
    .top-header{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
    }

    .logo img.img-logo{
        display: block;
        margin: auto;
        width: 100px;
        margin-top: 1.5em;
    }

    .nav{
        justify-content: space-evenly;
        width: auto;
        display: none;
    
    }

    .top-header .btn-contatos .contatos-btn{
        display: flex;
        width: 100%;
        margin: 0 auto;
        margin-right: 50px;
    }

    .contatos-btn .btn{
        display: flex;
        width: 100%;
        margin: 0 auto;
        width: 35px;
        height: 35px;
    }

    .contatos-btn .btn:hover{
        width: 35px;
    }

    .contatos-btn .btn .text{
        display: none;
    }

    .contatos-btn .btn:hover .icon{
        transform: scale(1);
     }

     .top-header .menu-mobile{
        display: block;
      }

 }
