.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8em auto 2em auto;
    
}

.projetos h2{
    display: flex;
    width: 100%;
}

.projetos .projeto{
    display: flex;
    margin: auto;
}

.projetos .projeto .projeto-card{
    width: auto;
    height: auto;
    margin: auto;
    padding: 2em;
    }

.projetos .projeto a{
    color: var(--cor6);
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.projetos .projeto .projeto-card h4{
 text-align: center;
 align-items: center;
 border-radius: 20px;
 font-weight: 500;
 color: var(--cor4);
} 

.projetos .projeto .projeto-card img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.489);
}

@media screen and (max-width: 1300px){
    .projetos .projeto .projeto-card{
        width: 100%;
        height: auto;
    }   
}

@media screen and (max-width: 810px) {

    .projetos .projeto{
        width: 100%;
    }

    .projetos.projeto .projeto-card{
        width: 200px;
        height: auto;
       
    }

    .projetos .projeto .projeto-card img{
        display: flex;
        width: 230px;
        height: 280;
    }

    .projetos .projeto .projeto-card h4{
      font-size: 1.2em;
}
}

@media screen and (max-width: 430px) {
    .projetos .projeto{
        display: block;
        width: 100%;
    }

    .projetos .projeto .projeto-card{
        width: 100%;
    }

    .projetos .projeto .projeto-card img{
        width: 90%;
        height: 280;
    }
}