.sobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8em auto 2em auto;
    min-height: 100vh;
}

.sobre .text p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 2em;
    font-size: 1em;
    background-color: var(--cor7);
    border-radius: 0 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.489);
    line-height: 25px;
}

.sobre .img-tita img{
    width: 250px;
    border-radius: 50%;
}

@media screen and (max-width: 810px){
    .sobre{
        display: flex;
        flex-direction: column-reverse;
        text-align: justify;
        height: auto;
    }

    .sobre .img-tita img{
        width: 150px;
    }

    .sobre .text p{
        line-height: 20px;
        display: block;
    }
}

@media screen and (max-width: 430px){
    
    .sobre .text h2{
        font-size: 1.5em;
    }
    
    .sobre .img-tita img{
        width: 150px;
    }

    .sobre .text p{
        line-height: 20px;
    }
}
